# Node / Svelte
node_modules/
.svelte-kit/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
__pycache__/

# Data
data/raw
data/plots
data/processed/ontario

# Jupyter / Analysis
.ipynb_checkpoints/
*.ipynb.json

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

